@model PagedList.IPagedList<DAL_Data_Access_Layer_.EF.Products>
@using PagedList.Mvc

@{
    ViewBag.Title = "Quản lí sản phẩm ";
    Layout = "~/Areas/Admin/Views/Shared/_UserLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH SẢN PHẨM</h6>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input type="text" name="searchString" />
                        |
                        <button class="btn btn-outline-primary" type="submit">
                            <img src="~/Content/images/search-icon.png" />
                        </button>
                    </div>
                    <div class="input-group">
                        <span>Trending:</span> <span style="margin:0 5px 0 20px">NotTrend</span> <input groupname="checkStatus" type="checkbox" name="notTrend" /> <span style="margin:0 5px 0 20px">IsTrending</span> <input groupname="checkStatus" type="checkbox" name="isTrending" />
                    </div>


                </div>
            </div>
        }
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CateID</th>
                        <th>ProductName</th>
                        <th>Images</th>
                        <th>SLug</th>
                        <th>Detail</th>
                        <th>Trending</th>
                        <th>Status</th>
                        <th>NumberViews</th>
                        <th>Price</th>
                        <th>MetaKey</th>
                        <th>CreatAt</th>
                        <th>UpdateAt</th>
                        <th>DeleteAt</th>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>CateID</th>
                        <th>ProductName</th>
                        <th>Images</th>
                        <th>Slug</th>
                        <th>Detail</th>
                        <th>Trending</th>
                        <th>Status</th>
                        <th>NumberViews</th>
                        <th>Price</th>
                        <th>MetaKey</th>
                        <th>CreatAt</th>
                        <th>UpdateAt</th>
                        <th>DeleteAt</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="row_@item.Id">
                                <a class="btn btn-primary" href="/Admin/Product/Edit/@item.Id">SỬA</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                {
                                    Confirm = "Bạn có muốn xóa bản ghi này không",
                                    OnComplete = "$(' row_" + @item.Id + " ').remove()",
                                    HttpMethod = "Delete"
                                })

                            </td>

                            <td>@item.CategoryID</td>
                            <td>@item.ProductName</td>
                            <td><img src="@item.Path" /></td>
                            <td>@item.Slug</td>
                            <td>@item.Detail</td>
                            <td>@item.Trending</td>
                            <td>@item.Status</td>
                            <td>@item.NumberViews</td>
                            <td>@item.Price</td>
                            <td>@item.MetaKey</td>
                            <td>@(item.CreatAt == null ? "" :  item.CreatAt.Value.ToString("dd/MM/yyyy"))</td>
                            <td>@(item.UpdateAt == null ? "" : item.UpdateAt.Value.ToString("dd/MM/yyyy"))</td>
                            <td>@(item.DeleteAt == null ? "" : item.DeleteAt.Value.ToString("dd/MM/yyyy"))</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" href="/Admin/Product/Creat">Create</a>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

